@media (max-width: 1400px) { 
    /* kompiuteris */
    body {
        background: red;
    }
    .left-right-box{
        width: 50%;
    }
}
    @media (max-width: 768px) { 
        /* plansete */
        body {
            background: yellow;
        }
        .left-right-box{
            width: 50%;
        }
    }
        @media (max-width: 576px) { 
            /* telefonas */
            body {
                background: green;
            }
            .left-right-box{
                width: 100%;
                flex-wrap: wrap;
            }
            
        }
