body {
    background: red;
}
.container-body{
    width: 1140;
    margin: 0 auto;
   
}
.all-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
 
    

}
.card-container{
    display: flex;
    flex-direction: column;
    width: 33,33%;
    margin: 5px;
}