body {
    background: red;
}
.container-body{
    width: 1140;
}
.all-card{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

}
.card-container{
    display: flex;
    flex-direction: column;
    width: 33,33%;
}